html {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(228, 225, 246);
}

#header {
    outline: 3px red solid;
    background-color: white;
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
}

#header > h2 {
    outline: black 1px solid;
    margin-right: auto;
}

#header > div {
    outline: black 1px solid;
    display: flex;
    gap: 25px;
}

#main-content {
    outline: 3px red solid;
    margin-top: 25px;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#main-content > button {
    
}

#grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    /*grid-auto-flow: column dense;*/
    gap: 40px;
    justify-content: center;
}

.grid-item {
    background-color: white;
    border-radius: 5%;
    width: 100%;
    height: 250px;
}

#footer {
    outline: 3px red solid;
    position: fixed;
    bottom: 0;
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#footer > img {
    outline: purple solid 2px;
    height: 25px;
    width: 25px;
}

/* Dialog Form Styling */

#book-form {
    height: 350px;
    width: 250px;
    padding: 0 50px;
    position: relative;
}

#book-form > h2 {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

#inputs-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#inputs-div > input {
    height: 25px;
    font-size: 16px;
}

#Create-close-div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#Create-close-div > button {
    flex-grow: 1;
    height: 35px;
}

