html {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(228, 225, 246);
}

#header {
    outline: 3px red solid;
    background-color: white;
    height: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
}

#header > h2 {
    outline: black 1px solid;
    margin-right: auto;
}

#header > div {
    outline: black 1px solid;
    display: flex;
    gap: 25px;
}

#main-content {
    outline: 3px red solid;
    margin-top: 25px;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#main-content > button {
    
}

#grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 40px;
    justify-content: center;
}

#footer {
    outline: 3px red solid;
    position: fixed;
    bottom: 0;
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#footer > img {
    outline: purple solid 2px;
    height: 25px;
    width: 25px;
}

/* Dialog Form Styling */

#book-form {
    height: 350px;
    width: 250px;
    padding: 0 50px;
    position: relative;
}

#book-form > h2 {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}

#inputs-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#inputs-div > input {
    height: 25px;
    font-size: 16px;
}

#Create-close-div {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#Create-close-div > button {
    flex-grow: 1;
    height: 35px;
}

/* Book Cards Styling */

.grid-item {
    position: relative;
    background-color: white;
    border-radius: 5%;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap: 5px;
}

#titleDiv {
    font-size: 25px;
    font-weight: bold;
}

#authorDiv {
    top: 65px;
    font-size: 17px;
    font-style: italic;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

#pagesDiv {
    font-size: 14px;
}

#readButton {
    position: absolute;
    top: 160px;
    left: calc(50% - 60px);
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.deleteIconDiv {
    /*outline: black 2px solid;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 215px;
    left: 90%;
    width: 26px;
    height: 30px;
    border-radius: 5px;
}

ion-icon {
    font-size: 24px;
    color:  rgb(180, 13, 13);
    --ionicon-stroke-width: 35px;
    cursor: pointer;
}

/* Stats Dialog Styling */

#stats-div {
    position: relative;
    height: 500px;
    width: 300px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#no-stat {
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#no-stat1 {
    font-size: 20px;
    font-weight: 400;
}

#no-stat2 {
    font-size: 18px;
    font-weight: 300;
}

#stats-header {
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#close-stats {
    position: absolute;
    width: 80px;
    height: 25px;
    left: calc(50% - 40px);
    top: 90%;
}

#stat-div-first {
    margin-top: 80px;
}

#stat-div-last {

}

.stat-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.stat-presentation {
    border-bottom: 1px gray solid;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 3px;
}

#books-in-progress {
    width: 200px;
}

.stat {
    color: rgb(250, 55, 55);
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
}